#MAVEN
target/

### Eclipse ###
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.prefs
Servers/
.project
.externalToolBuilders/
*.launch
.tern-project
/.classpath

#ECLIPSE
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.prefs
Servers/
.project
.externalToolBuilders/
*.launch
.tern-project

### Intellij ###
.idea
*.iml

